/* components/Button.module.css */
.button {
    padding: 10px 40px;
    letter-spacing: 0;
    line-height: 100%;
    border: none;
    border-radius: 30px;
    background-color: rgba(36, 34, 35, 0.3); /* #2422234D в RGBA */
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    height: 38px;
    transition: all 0.2s ease-out;
    outline: none;
    user-select: none;
    white-space: nowrap;
}

.button:hover {
    background-color: rgba(36, 34, 35, 0.4);
}

.button.pressed {
    background-color: #F4871A;
    box-shadow: 0 0 9px rgb(255, 138, 22);
}

.button:active {
    transform: scale(0.98);
}
.button:focus {
    scale: 1.04;
}



