.field {
    padding: 10px 40px;
    letter-spacing: 0;
    line-height: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    width: auto;
    max-width: 100%;
    outline: none;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    justify-content: center;
}

.orange{
    background-color: #F4871A;
}
.gray{
    background-color: #9C9C9C;
}
.orangeTop{
    background-color: #F4871A;
    position: relative;
    z-index: 5;
    box-shadow: 0 0 9px rgb(255, 138, 22);
}
.orangeTop:hover{
    scale: 1.04;
}
.orangeTop:active{
    scale: 0.98;
}
.transparentOrange{
    border: 2px solid #F4871A;
    padding: 20px 40px;
}
.transparentGray{
    position: relative;
    z-index: 10;
    border: 2px solid #9C9C9C;
    padding: 30px 40px;
}
.transparentOrangePrice{
    margin: 5px;
    border: 2px solid #F4871A;
    padding: 10px 20px;
    height: auto;
    text-wrap: nowrap;
}
.orangeGlow {
    background-color: #F4871A;
    box-shadow: 0 0 15px 5px rgba(244, 135, 26, 0.7);
    transform: scale(1.05);
    animation: pulseGlow 1850ms infinite alternate;
}

/* Анимация пульсации */
@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 5px 1px rgba(244, 135, 26, 0.5);
    }
    100% {
        box-shadow: 0 0 20px 8px rgba(244, 135, 26, 0.9);
    }
}
@media (max-width: 950px) {
    .field {
        font-size: 16px;
        width: auto;
        text-align: center;
        white-space: wrap;
    }
    .orange, .gray{
        width: auto;
        height: auto;
        font-size: 16px;
    }

}
@media (max-width: 450px) {
    .field {
        font-size: 14px;
        width: auto;
        text-align: center;
        white-space: wrap;
    }
    .orange, .gray{
        width: auto;
        height: auto;
        font-size: 13px;
    }

}
@media screen and (max-width: 550px) {
    .transparentOrange, .transparentGray{
        width: auto;
        font-size: 14px;
        text-align: center;
        white-space: wrap;
        padding: 30px;
    }
    .transparentOrangePrice{
        padding: 10px 10px;
        height: auto;
        text-wrap: nowrap;
    }
}