.field {
    padding: 10px 40px;
    letter-spacing: 0;
    line-height: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    height: 38px;
    outline: none;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.orange{
    background-color: #F4871A;
}
.gray{
    background-color: #9C9C9C;
}
.transparentOrange{
    border: 1px solid #F4871A;
    padding: 20px 40px;
}
.transparentGray{
    position: relative;
    z-index: 10;
    border: 1px solid #9C9C9C;
    padding: 30px 40px;
}
.transparentOrangePrice{
    margin: 5px;
    border: 1px solid #F4871A;
    padding: 20px 20px;
    height: auto;
    text-wrap: wrap;
    text-align: left;
    white-space: pre-line;
}

