.process{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    margin-top: 60px;
}

.fields{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}